@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Boxing Wizards";
  src: url("//db.onlinewebfonts.com/t/a73f21ab567338917541bc724cfd7f35.eot");
  src: url("//db.onlinewebfonts.com/t/a73f21ab567338917541bc724cfd7f35.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a73f21ab567338917541bc724cfd7f35.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/a73f21ab567338917541bc724cfd7f35.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/a73f21ab567338917541bc724cfd7f35.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/a73f21ab567338917541bc724cfd7f35.svg#Boxing Wizards")
      format("svg");
}

@font-face {
  font-family: "Superscratchy";
  src: url("/fonts/Superscratchy.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  /* background: #061425; */
  /* background: #657f1e; */
  /* color: white; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.title {
  font-family: "Boxing Wizards";
  font-family: "Superscratchy";
  margin: 0;
  line-height: 1.15;
  margin-top: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.items {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* max-width: 800px; */
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  height: 250px;
  flex: 1;
  color: inherit;
  text-decoration: none;
  border: 3px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #2c7be5;
  border-color: #2c7be5;
  cursor: pointer;
  border: 3px solid #2c7be5;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  /* font-size: 1.25rem; */
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.credit {
  text-align: center;
}
.credit a {
  padding-left: 3px;
}
.credit a:hover {
  color: #0070f3;
  border-color: #0070f3;
  cursor: pointer;
}

.copy {
  font-family: "Boxing Wizards";
}

.card-special:hover,
.card-special:focus,
.card-special:active {
  color: #0070f3;
  border-color: #0070f3;
  cursor: pointer;
}

.card-special h3 {
  /* margin: 0 0 1rem 0; */
  font-size: 1.5rem;
}

h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card-special p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

/* MODAL */
.enterID {
  color: #2c7be5 !important;
  font-family: "Superscratchy";
  /* font-family: "Boxing Wizards"; */
}

.modal-text {
  font-family: "Superscratchy";
}
.text-wizards {
  font-family: "Boxing Wizards";
}
.text-scratchy {
  font-family: "Superscratchy";
}

.input {
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  color: #222;
  font-size: 16px;
  height: 56px;
  padding: 0px 16px;
  width: 100%;
}

.ReactModal__Overlay .ReactModal__Overlay--after-open {
  background-color: rgba(255, 255, 255, 0.95);
  background: #061425 !important;
}

.button {
  align-items: center;
  font-family: "Boxing Wizards";
  font-family: "Superscratchy";
  background: #061425;
  background: #2c7be5;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  height: 56px;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.footer {
  /* font-family: "Superscratchy"; */
}

@media (max-width: 600px) {
  .ReactModal__Content--after-open {
    margin: 0rem !important;
    width: 90% !important;
  }
}
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.address {
  color: #2c7be5;
}

.roadmap {
  top: 50%;
  overflow: hidden;
  left: 100%;
  position: fixed;
  margin-top: 0px;
  /* margin-left: -250px; */
  margin-left: -180px !important;
}

.fox {
  /* padding-left: 70px; */
  max-width: none !important;
}

@media (max-width: 600px) {
  .fox {
    /* padding-left: 130px; */
    width: 150% !important;
  }
  .roadmap {
    top: 34% !important;
    margin-left: -90px !important;
  }
}
