@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Boxing Wizards";
  src: url("//db.onlinewebfonts.com/t/a73f21ab567338917541bc724cfd7f35.eot");
  src: url("//db.onlinewebfonts.com/t/a73f21ab567338917541bc724cfd7f35.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a73f21ab567338917541bc724cfd7f35.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/a73f21ab567338917541bc724cfd7f35.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/a73f21ab567338917541bc724cfd7f35.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/a73f21ab567338917541bc724cfd7f35.svg#Boxing Wizards")
      format("svg");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.title {
  font-family: "Boxing Wizards";
  margin: 0;
  line-height: 1.15;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
  cursor: pointer;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.credit {
  text-align: center;
}
.credit a {
  padding-left: 3px;
}
.credit a:hover {
  color: #0070f3;
  border-color: #0070f3;
  cursor: pointer;
}

.copy {
  font-family: "Boxing Wizards";
}
